body {
	margin: 0;
}

/* CAREER SINGLE CSS */
.careersMain {
	font-family: "Poppins", serif;
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #f1f0ff;
	padding-top: 30px;
	padding-bottom: 200px;
}

.careersMain h1 {
	font-family: "Inter", sans-serif;
	color: #3772ff;
	font-weight: 800;
	font-size: 50px;
	padding-top: 30px;
	margin-bottom: 20px;
}

.careersMain h2 {
	font-family: "Inter", sans-serif;
	color: #3772ff;
	font-weight: 800;
	font-size: 30px;
}

.careersMain p {
	text-align: justify;
	line-height: 32px;
	font-weight: 400;
	font-size: 16px;
}

.careersSidebar {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.careersSidebar a {
	text-decoration: none;
	gap: 10px;
	display: flex;
	color: #3772ff;
	margin-bottom: 50px;
}

.careersSidebar div div {
	background-color: #fff0c2;
	border-radius: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

/* .careersSidebar div:nth-child(2) {
	width: 100px;
} */

.careersContent {
	width: 70%;
}

.careerSocials {
	margin-bottom: 100px;
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.careerSocials div {
	height: 43px;
	width: 43px;
	background-color: #d5dffa;
	border-radius: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3772ff;
}

.careersApplyButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3772ff;
	width: 207px;
	height: 57px;
	border-radius: 10px;
	border: none;
	color: white;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin-top: 80px;
}

/* MEDIA MAIN CSS */
.mediaMain {
	font-family: "Poppins", serif;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 30px;
	background-color: #f1f0ff;
}

.mediaMain h1 {
	margin-top: 28px;
	margin-bottom: 62px;
	font-weight: 700;
	font-size: 52px;
	line-height: 60px;
}

.mediaTag {
	color: #007dcc;
	background-color: #007dcc1a;
	display: inline;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 31px;
	padding-right: 31px;
	border-radius: 32px;
}

.headerSocialsDiv {
	display: flex;
	justify-content: center;
}

.headerSocials {
	margin-bottom: 100px;
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.headerSocials div {
	height: 43px;
	width: 43px;
	background-color: #d5dffa;
	border-radius: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #007dcc;
}

.headerSocials a {
	text-decoration: none;
}

.mediaImages {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 10px;
	padding: 20px;
}

.grid-item {
	border-radius: 8px;
	overflow: hidden;
}

.grid-item img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

.mediaVideos div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.mediaVideos div h2 {
	width: 70%;
	text-align: left;
}

.mediaVideosScrollVector {
	gap: 15px;
}

.mediaVideosScrollVector i {
	color: #007dcc;
	border-radius: 50%;
	cursor: pointer;
}

.mediaYoutube {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 50px;
	padding-bottom: 100px;
	overflow-x: scroll;
}

/* CONTACT US CSS */

.contactMain {
	font-family: "Poppins", serif;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 30px;
	background-color: #f1f0ff;
}

.contactMain h1 {
	margin-top: 28px;
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 52px;
	line-height: 60px;
}

.contactTag {
	color: #007dcc;
	background-color: #007dcc1a;
	display: inline;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 31px;
	padding-right: 31px;
	border-radius: 32px;
}

.contactSection {
	display: flex;
	justify-content: space-between;
	padding-bottom: 173px;
}

.contactSectionLeft {
	width: 30%;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.contactSectionRight {
	border: 1px solid #1a1a1a;
	width: 52%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px 16px;
}

.contactSectionDetails {
	text-align: left;
}

.contactSection h2 {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
}

.contactSection h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}

.contactSection p {
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	font-family: "Inter", sans-serif;
	text-decoration: underline;
}

.contactSectionVector {
	background-color: #007dcc;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.bx-link-external {
	background: linear-gradient(90deg, #44b5ff, #a323ff);
	/* -webkit-background-clip: text; */
	-webkit-text-fill-color: transparent;
}

.contactTopForm {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.contactSectionRight input {
	font-family: "Poppins", serif;
	padding: 0 10px;
}

.contactSectionRight input::placeholder,
textarea::placeholder {
	font-style: italic;
}

.contactTopForm input {
	width: 96.5%;
	height: 48px;
	border: none;
}

.contactMiddleForm {
	display: flex;
	justify-content: space-between;
}

.contactMiddleForm div {
	display: flex;
	flex-direction: column;
	text-align: left;
	flex-grow: 0.4;
}

.contactMiddleForm input {
	width: 92%;
	height: 48px;
	border: none;
}

.contactBottomForm {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.contactBottomForm textarea {
	width: 96.5%;
	height: 146px;
	border: none;
	font-family: "Poppins", serif;
	padding: 10px 10px;
}

.contactSectionRight label {
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
}

.contactFormSubmit {
	text-align: right;
}

.contactFormSubmit button {
	color: white;
	background-color: #007dcc;
	height: 44px;
	width: 188px;
	border: none;
	cursor: pointer;
}

/* ROCKWOOD PROPERTIES 2 CSS */

.rockPropsMain {
	font-family: "Poppins", serif;
	background-color: #f3f3f5;
}

.rockPropsNav {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-top: 30px;
	padding: 15px 12px;
	border-radius: 100px;
	color: white;
	font-family: "Inter", sans-serif;
	background-color: #c3a99a;
}

.rockPropsNav img {
	width: 7%;
}

.rockPropsNavButton {
	display: flex;
}

.rockPropsNavButton button {
	height: 3rem;
	width: 197px;
	border-radius: 44px;
	border: 2px solid #ffffff;
	color: #ffffff;
	background: none;
	cursor: pointer;
}

.rockPropsNavButton i {
	color: #ffffff;
	background-color: #c3a99a;
	border-radius: 50%;
	margin-left: -17px;
	z-index: 90;
	cursor: pointer;
}

.rockPropsNavNavlinks {
	display: flex;
	gap: 50px;
}

.rockPropsHero {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: url("Background pattern.png");
	background-size: contain;
}

.rockPropsHeroHero {
	display: flex;
	padding-left: 10%;
}

.rockPropsHeroLeft {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rockPropsHeroButton {
	display: flex;
}

.rockPropsHeroButton button {
	height: 3rem;
	width: 197px;
	border-radius: 44px;
	border: 2px solid #c3a99a;
	color: #c3a99a;
	cursor: pointer;
}

.rockPropsHeroButton i {
	color: #c3a99a;
	margin-left: -17px;
	z-index: 90;
	cursor: pointer;
}

.rockPropsHeroLeft h1 {
	display: flex;
	flex-direction: column;
	font-size: 60px;
	line-height: 72px;
}

.rockPropsHeroRight {
	width: 60%;
	display: flex;
	justify-content: end;
	align-items: start;
}

.rockPropsHeroRight img {
	height: 90%;
	padding-top: 50px;
}

.rockPropsFeatured {
	background-color: #ffffff;
	padding: 5% 10%;
}

.rockPropsTags {
	color: #c3a99a;
	background-color: #c3a99a1a;
	display: inline;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 31px;
	padding-right: 31px;
	border-radius: 32px;
}

.rockPropsFeatured h2 {
	font-size: 44px;
	font-weight: 700;
	line-height: 57px;
}

.rockPropsRealEstate {
	background-color: #ffffff;
	padding: 2% 10%;
}

.rockPropsRealEstate p {
	font-size: 16px;
	line-height: 24px;
	width: 400px;
}

.rockPropsRealEstatePartners {
	display: flex;
	gap: 30px;
	overflow-x: scroll;
	align-items: flex-start;
}

.rockPropsRealEstatePartners::-webkit-scrollbar {
	display: none;
}

.rockPropsRealEstatePartners div {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	align-items: center;
	height: 140px;
	width: 270px;
	border: 2px solid #c3a99a;
	border-radius: 8px;
}

.rockPropsTestimonialSection {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 840px;
}

.rockPropsTestimonialSection h2 {
	font-family: "Inter", sans-serif;
	font-size: 48px;
	line-height: 58px;
}

.rockPropsTestimonials {
	height: 433px;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.rockPropsTestimonialContainer {
	display: flex;
	gap: 26px;
	width: 100%;
	height: 80%;
}

.rockPropsTestimonial {
	width: 100%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 36px 47px;
}

.rockPropsTestimonial p {
	font-size: 16px;
	line-height: 24px;
}

.rockPropsTestimonial:nth-child(2) {
	background-color: #c3a99a;
	color: white;
}

.testimonialUser {
	display: flex;
	gap: 7px;
}

.testimonialUserDetails {
	height: 68px;
	width: 100%;
}

.testimonialUserDetails div,
.testimonialUserDetails p,
.testimonialUserDetails h4 {
	padding: 0;
	margin: 0;
}

.testimonialUserImage {
	display: flex;
	align-items: center;
	justify-content: center;
}

.testimonialUserDetails h4 {
	font-size: 16px;
	font-weight: 600;
	line-height: 15px;
}

.testimonialUserDetails p {
	font-size: 14px;
	font-weight: 400;
	line-height: 12px;
}

.rockPropsTestimonialButton {
	display: flex;
}

.rockPropsTestimonialButton button {
	height: 3rem;
	width: 197px;
	border-radius: 44px;
	border: 1px solid #c3a99a;
	cursor: pointer;
	background: none;
}

.rockPropsTestimonialButton i {
	color: #c3a99a;
	margin-left: -17px;
	z-index: 90;
	cursor: pointer;
}

.rockPropsHomeVideos {
	background-color: #ffffff;
	padding: 5% 10%;
}

.rockPropsHomeVideos h2 {
	font-size: 44px;
	font-weight: 700;
	line-height: 57px;
}

.rockPropsHomeVideos p {
	font-size: 20px;
	line-height: 35px;
	width: 55%;
}

/* ROCK HOME CSS */

.rockHomeMain {
	background-color: #f3f3f5;
	font-family: "Plus Jakarta Sans", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rockHomeHero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
	color: white;
	height: 70vh;
	width: 100%;
	background: url("rockHomeBg.png");
	background-position: center;
	background-size: cover;
}

.rockHomeHero h1 {
	margin: 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 81px;
	text-align: center;
}

.rockHomeHero p {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	padding: 0 50px;
}

.rockHomeHeroSearch {
	display: flex;
	align-items: center;
	background: white;
	border-radius: 50px;
	width: 60%;
	overflow: hidden;
	position: relative;
}

.rockHomeHeroSearchDropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	width: 15%;
	background: #e5e5e5;
}

.rockHomeHeroSearchDropdownButton {
	border: none;
	font-size: 16px;
	cursor: pointer;
	background: none;
}

.rockHomeHeroSearchInput {
	flex: 1;
	border: none;
	padding: 15px 20px;
	font-size: 16px;
	outline: none;
}

.rockHomeHeroSearchInput::placeholder {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
}

.rockHomeHeroSearchButton {
	background: #c3a99a;
	color: #ffffff;
	border: none;
	height: 100%;
	width: 7%;
	cursor: pointer;
	outline: none;
}

.rockHomeAbout {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rockHomeAbout h6 {
	color: #c3a99a;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
}

.rockHomeAbout h2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
}

.rockHomeAbout p {
	font-size: 16px;
	line-height: 32px;
}

.rockHomeAbout button {
	padding: 11px 28px;
	border-radius: 50px;
	border: none;
	color: #ffffff;
	background-color: #c3a99a;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.rockHomeAboutOne {
	display: flex;
	align-items: center;
	padding: 72px 0;
	width: 90%;
	gap: 54px;
}

.rockHomeAboutTwo {
	display: flex;
	align-items: center;
	padding: 72px 0;
	width: 90%;
	gap: 54px;
	border-bottom: 1px solid #e5e5e5;
}

.rockHomeExplore {
	width: 90%;
	margin: 70px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rockHomeExplore h2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	width: 100%;
}

.rockHomeExploreCat {
	display: flex;
	gap: 24px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	width: 100%;
}

.rockHomeExploreCat p:nth-child(1) {
	color: #c3a99a;
	padding-bottom: 6px;
	border-bottom: 1px solid #c3a99a;
}

.rockHomeExploreHomes {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	justify-content: center;
}

.rockHomeExploreHomesButton {
	margin-top: 36px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;
	background-color: #c3a99a;
	border: none;
	border-radius: 50px;
	padding: 11px 26px;
	width: 175px;
}

.rockHomeExploreHome {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	width: 400px;
	height: 478px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rockHomeExploreHome p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
}

.rockHomeExploreHome h4 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
}

.rockHomeExploreHome img {
	width: 100%;
	height: 60%;
	cursor: pointer;
}

.rockHomeExploreHomeTag {
	color: #ffffff;
	background-color: #c3a99a;
	border-radius: 50px;
	padding: 4px 8px;
	font-size: 12px;
	line-height: 15px;
}

.rockHomeExploreHome div div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rockHomeExploreHomeLike {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rockHomeExploreHomeLike p {
	width: 55%;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #c3a99a;
	cursor: pointer;
	cursor: pointer;
}

.rockHomeExploreHomeLike i {
	cursor: pointer;
}

.bxs-heart {
	color: #c3a99a;
}

.rockHomebenefits {
	background-color: #e4e5df;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 72px 0;
}

.rockHomebenefits h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	width: 40%;
	text-align: center;
}

.rockHomebenefits p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 36px;
}

.rockHomebenefitContainer {
	display: flex;
	gap: 20px;
	width: 90%;
	flex-wrap: wrap;
	justify-content: center;
}

.rockHomebenefitContainer div {
	width: 410px;
}

.rockHomebenefitContainer img {
	width: 100%;
}

.rockHomebenefit {
	background-color: #ffffff;
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rockHomebenefit h4,
.rockHomebenefit p {
	padding: 10px 32px;
}

.rockHomebenefit h4 {
	font-size: 22px;
	line-height: 27px;
	font-weight: 700;
}

.rockHomebenefit p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 500;
}

.rockHomeTestimonialSection {
	padding: 72px 0;
	width: 90%;
}

.rockHomeTestimonials {
	display: flex;
	gap: 30px;
	overflow-x: scroll;
	align-items: flex-start;
	margin-top: 66px;
}

.rockHomeTestimonials::-webkit-scrollbar {
	display: none;
}

.rockHomeTestimonials div {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	height: 230px;
	width: 490px;
	padding: 16px 36px;
	border: 2px solid #c3a99a;
	border-radius: 8px;
}

.rockHomeTestimonials div h4 {
	font-size: 20px;
	font-weight: 600;
}

.rockHomeFAQ {
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 72px 0;
}

.rockHomeFAQDesc {
	width: 40%;
}

.rockHomeFAQs {
	width: 55%;
}

.rockHomeFAQ h6 {
	color: #c3a99a;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
}

.rockHomeFAQ h2 {
	color: #08110c;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
}

.rockHomeFAQ p {
	color: #313131;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
}

.rockHomeFAQ h4 {
	color: #08110c;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
}

.rockHomeFAQDesc button {
	margin-top: 36px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;
	background-color: #c3a99a;
	border: none;
	border-radius: 50px;
	padding: 11px 26px;
}

.rockHomeFAQs button {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}

.rockHomeFaqItem {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	width: 100%;
}

.rockHomeFaqQuestion {
	width: 100%;
	text-align: left;
	background: none;
	border: none;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	color: #333;
	cursor: pointer;
	outline: none;
}

.rockHomeFaqAnswer {
	display: block;
	padding: 10px 0;
	color: #555;
}

.rockHomeFaqAnswer p {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.rockHomeContactSection {
	background-color: #e4e5df;
	padding: 72px;
	display: flex;
	justify-content: space-between;
}

.rockHomeContactLeft {
	background-color: white;
	width: 40%;
	border-radius: 20px;
	padding: 52px;
}

.rockHomeContactLeft input,
.rockHomeContactLeft textarea {
	padding: 21px 16px;
	background-color: #f1f1f1;
	border: none;
	border-radius: 8px;
	resize: none;
}

.rockHomeContactLeft textarea {
	width: inherit;
}

.rockHomeContactLeft input::placeholder,
.rockHomeContactLeft textarea::placeholder {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}

.rockHomeContactTopForm {
	display: flex;
	justify-content: space-between;
}

.rockHomeContactTopForm div {
	display: flex;
	flex-direction: column;
	width: 45%;
}

.rockHomeContactMiddleForm {
	display: flex;
	flex-direction: column;
}

.rockHomeContactBottomForm {
	display: flex;
	flex-direction: column;
}

.rockHomeContactLeft button {
	margin-top: 36px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;
	background-color: #c3a99a;
	border: none;
	border-radius: 50px;
	padding: 11px 26px;
}

.rockHomeContactRight {
	width: 45%;
}

.rockHomeContactDetails {
	border-top: 1px solid #cbcbcb;
}

.rockHomeContactDetail {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 24px;
	margin: 10px 0;
	height: 50px;
}

.rockHomeContactDetail div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rockHomeContactDetail i {
	color: #c3a99a;
}

.rockHomeContactDetail h4 {
	margin: 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;
}

.rockHomeContactDetail p {
	margin: 0;
	color: #c3a99a;
	font-size: 16px;
	line-height: 24px;
}

.ecoFriendHomeFooter {
	background: url("ecoFooterImg.jpeg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 72px;
	border-radius: 20px;
}

.ecoFriendHomeFooter div {
	font-family: "Plus Jakarta Sans", sans-serif;
	background-color: white;
	width: 50%;
	border-radius: 20px;
	padding: 38px 47px;
	margin: 106px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ecoFriendHomeFooter h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	width: 80%;
}

.ecoFriendHomeFooter p {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	width: 90%;
}

.ecoFriendHomeFooter button {
	margin-top: 36px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;
	background-color: #c3a99a;
	border: none;
	border-radius: 50px;
	padding: 11px 26px;
}

.rockSaleMain {
	background-color: #f3f3f5;
	font-family: "Plus Jakarta Sans", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rockSalePropertiesSection {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-top: 30px;
	margin-bottom: 200px;
}

.rockSalePropertiesSection h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 47px;
}

.rockSaleProperty {
	background-color: #fbe8e8;
	border-radius: 30px;
	padding: 30px;
	height: 300px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.rockSaleProperty img {
	width: auto;
	border-radius: 30px;
}

.rockSalePropertyLike i {
	background-color: white;
	padding: 10px;
	border-radius: 50%;
}

.rockSalePropertyDetail {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px;
}

.rockSalePropertyDetailTop h4 {
	margin: 0;
	font-size: 25px;
	font-weight: 700;
}

.rockSalePropertyDetailTop p {
	margin: 10px 0;
}

.rockSalePropertyDetail span {
	display: flex;
	width: 50%;
	justify-content: space-between;
}

.rockSalePropertyDetail span i {
	color: #7065f0;
}

.rockSalePrice {
	color: #7065f0;
	font-size: 38px;
	font-weight: 800;
	line-height: 57px;
}

.rockSalePropertyButtons {
	display: flex;
	flex-direction: row;
	height: 56px;
}

.rockSalePropertyButtons button:nth-of-type(1) {
	background-color: #000000;
	color: #ffffff;
	border: none;
	border-radius: 88px;
	width: 60%;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rockSalePropertyButtons button:nth-of-type(2) {
	background-color: #00b548;
	color: #ffffff;
	border: none;
	border-radius: 50%;
}

/* ROCK SHORTLET PROPERTIES CSS */

.rockShortletMain {
	background-color: #ffffff;
	font-family: "Plus Jakarta Sans", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rockShortletPropertiesSection {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-top: 30px;
	margin-bottom: 200px;
}

.rockShortletPropertiesSection h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 47px;
}

.rockShortletProperties {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.rockShortletProperty {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	border: 1px solid #dbdaeb;
	border-radius: 9px;
}

.rockShortletProperty img {
	border-radius: 9px 9px 0 0;
}

.rockShortletPropertyDetail {
	padding: 27px;
}

.rockShortletPropertyDetail h4 {
	font-size: 27px;
	font-weight: 700;
	margin: 0;
}

.rockShortletPropertyDetail p {
	color: #6a6a6a;
}

.rockShortletDetailTop {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.rockShortletDetailTop span p:nth-of-type(1) {
	color: #7065f0;
	font-size: 27px;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

.rockShortletPropertyLike {
	background-color: white;
	border: 1px solid #e8e6f9;
	padding: 12px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.rockShortletMetainfo {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #f0effb;
}

.rockShortletMetainfo i {
	color: #7065f0;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* BLOOM HOME CSS */

.bloomHomeMain {
	font-family: "Poppins", serif;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bloomHomeNav {
	height: 100px;
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bloomHomeNav img {
	height: 44px;
}

.bloomHomeNav div {
	display: flex;
	align-items: center;
	gap: 15px;
}

.bloomHomeNav p {
	font-size: 16px;
	line-height: 20px;
	color: #6a6a6a;
}

.bloomHomeNav button:nth-of-type(1) {
	color: #ffffff;
	background-color: #228b22;
	border: none;
	padding: 0 25px;
	height: 40px;
	border-radius: 90px;
}

.bloomHomeNav button:nth-of-type(2) {
	color: #228b22;
	background-color: #ffffff;
	border: 1px solid #228b22;
	padding: 0 25px;
	height: 40px;
	border-radius: 90px;
}

.bloomHomeHero {
	height: 80vh;
	width: 85%;
	background: url("image (16).jpeg");
	border-radius: 32px;
}

.bloomHeroCaption {
	width: 85%;
	margin: 80px 0;
}

.bloomHeroCaption p {
	font-size: 85px;
	font-weight: 100;
	line-height: 120px;
	margin: 0;
}

.bloomHomeMedia {
}

.bloomHomeTestimonialsSection {
	padding: 72px 0;
	width: 90%;
}

.bloomHomeTestimonials {
	display: flex;
	gap: 30px;
	overflow-x: scroll;
	align-items: flex-start;
	margin-top: 66px;
}

.bloomHomeTestimonials::-webkit-scrollbar {
	display: none;
}

.bloomHomeTestimonials div {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	height: 230px;
	width: 490px;
	padding: 16px 36px;
	border: 2px solid #c3a99a;
	border-radius: 8px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
	.careerSocials {
		width: 40%;
	}
	.rockPropsHeroRight img {
		height: 80%;
		padding-top: 50px;
	}
	.rockHomeAbout img {
		width: 500px;
	}
	.rockSalePropertyDetail span {
		width: 65%;
	}
}

@media screen and (max-width: 1100px) {
	.careerSocials {
		width: 60%;
	}
	.rockPropsHeroRight img {
		height: 70%;
		padding-top: 50px;
	}
	.rockHomeAbout img {
		width: 400px;
	}
	.rockSalePropertyDetail span {
		width: 75%;
	}
}

@media screen and (max-width: 1030px) {
	.careersMain {
		flex-direction: column;
	}
	.careersSidebar {
		width: 100%;
	}
	.careersSidebar div {
		display: flex;
		flex-direction: row;
		gap: 30px;
	}
	.careersContent {
		width: 100%;
	}
	.careerSocials {
		width: 40%;
	}
	.headerSocials {
		width: 40%;
	}
	.contactTopForm input {
		width: 95%;
	}
	.contactMiddleForm input {
		width: 90%;
	}
	.contactBottomForm textarea {
		width: 95%;
	}
	.rockPropsHeroHero {
		margin-top: 10%;
	}
	.rockPropsHeroRight {
		display: none;
	}
	.rockPropsHeroLeft {
		width: 90%;
		text-align: center;
	}
	.rockPropsHeroButton {
		justify-content: center;
	}
	.rockPropsTestimonialSection h2 {
		font-size: 35px;
	}
	.rockHomeAbout img {
		width: 350px;
	}
	.rockHomeFAQ {
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
	.rockHomeFAQDesc {
		width: 100%;
	}
	.rockHomeFAQs {
		width: 90%;
	}
	.rockHomeContactSection {
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}

	.rockHomeContactLeft {
		width: 80%;
	}
	.rockHomeContactRight {
		width: 80%;
	}
	.ecoFriendHomeFooter {
		margin: 72px;
	}

	.ecoFriendHomeFooter div {
		width: 60%;
		padding: 38px 47px;
		margin: 50px;
	}

	.rockSaleProperty {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
	}

	.rockSaleProperty img {
		width: auto;
	}

	.rockSalePropertyDetail {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
	}

	.rockSalePropertyDetail span {
		width: 60%;
	}

	.rockSalePropertyLike {
		text-align: right;
	}
}

@media screen and (max-width: 760px) {
	.headerSocials {
		width: 50%;
	}
	.contactSection {
		flex-direction: column;
	}
	.contactSectionLeft {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		order: 2;
		margin-top: 50px;
	}
	.contactSectionRight {
		width: 92%;
		order: 1;
	}
	.headerSocials {
		margin-bottom: 50px;
	}
	.rockPropsFeatured h2 {
		font-size: 35px;
	}
	.rockPropsTestimonialSection h2 {
		font-size: 30px;
	}
	.rockPropsHomeVideos h2 {
		font-size: 35px;
	}
	.rockPropsHomeVideos p {
		font-size: 15px;
		width: 100%;
	}
	.rockHomeAbout img {
		display: none;
	}
	.rockHomeAboutOne,
	.rockHomeAboutTwo {
		gap: 0;
	}
	.rockHomeAboutTwo {
		padding-top: 0;
	}
	.rockHomeHeroSearchDropdown {
		width: 20%;
	}
	.rockHomeHeroSearchButton {
		width: 10%;
	}
	.bx-search-alt-2 {
		margin-left: -1px;
	}
	.rockHomebenefits h2 {
		width: 70%;
	}
	.rockHomeContactLeft {
		width: 90%;
	}
	.rockHomeContactRight {
		width: 90%;
	}
	.rockSalePropertyDetail span {
		width: 70%;
	}
}

@media screen and (max-width: 690px) {
	.careerSocials {
		width: 60%;
	}
	.contactTopForm input {
		width: 95%;
	}
	.contactMiddleForm input {
		width: 90%;
	}
	.contactBottomForm textarea {
		width: 95%;
	}
	.rockHomeContactRight {
		width: 100%;
	}
}

@media screen and (max-width: 590px) {
	.headerSocials {
		width: 60%;
	}
	.mediaMain h1 {
		font-size: 48px;
	}
}

@media screen and (max-width: 490px) {
	.headerSocials {
		width: 70%;
	}
}
