body {
	margin: 0;
}

/* CAREER SINGLE CSS */
.careersMain {
	font-family: "Poppins", serif;
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #f1f0ff;
	padding-top: 30px;
	padding-bottom: 200px;
}

.careersMain h1 {
	font-family: "Inter", sans-serif;
	color: #3772ff;
	font-weight: 800;
	font-size: 50px;
	padding-top: 30px;
	margin-bottom: 20px;
}

.careersMain h2 {
	font-family: "Inter", sans-serif;
	color: #3772ff;
	font-weight: 800;
	font-size: 30px;
}

.careersMain p {
	text-align: justify;
	line-height: 32px;
	font-weight: 400;
	font-size: 16px;
}

.careersSidebar {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.careersSidebar a {
	text-decoration: none;
	gap: 10px;
	display: flex;
	color: #3772ff;
	margin-bottom: 50px;
}

.careersSidebar div div {
	background-color: #fff0c2;
	border-radius: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

/* .careersSidebar div:nth-child(2) {
	width: 100px;
} */

.careersContent {
	width: 70%;
}

.careerSocials {
	margin-bottom: 100px;
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.careerSocials div {
	height: 43px;
	width: 43px;
	background-color: #d5dffa;
	border-radius: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3772ff;
}

.careersApplyButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3772ff;
	width: 207px;
	height: 57px;
	border-radius: 10px;
	border: none;
	color: white;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin-top: 80px;
}

/* MEDIA MAIN CSS */
.mediaMain {
	font-family: "Poppins", serif;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 30px;
	background-color: #f1f0ff;
}

.mediaMain h1 {
	margin-top: 28px;
	margin-bottom: 62px;
	font-weight: 700;
	font-size: 52px;
	line-height: 60px;
}

.mediaTag {
	color: #007dcc;
	background-color: #007dcc1a;
	display: inline;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 31px;
	padding-right: 31px;
	border-radius: 32px;
}

.headerSocialsDiv {
	display: flex;
	justify-content: center;
}

.headerSocials {
	margin-bottom: 100px;
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.headerSocials div {
	height: 43px;
	width: 43px;
	background-color: #d5dffa;
	border-radius: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #007dcc;
}

.headerSocials a {
	text-decoration: none;
}

.mediaImages {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 10px;
	padding: 20px;
}

.grid-item {
	border-radius: 8px;
	overflow: hidden;
}

.grid-item img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

.mediaVideos div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.mediaVideos div h2 {
	width: 70%;
	text-align: left;
}

.mediaVideosScrollVector {
	gap: 15px;
}

.mediaVideosScrollVector i {
	color: #007dcc;
	border-radius: 50%;
	cursor: pointer;
}

.mediaYoutube {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 50px;
	padding-bottom: 100px;
	overflow-x: scroll;
}

/* CONTACT US CSS */

.contactMain {
	font-family: "Poppins", serif;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 30px;
	background-color: #f1f0ff;
}

.contactMain h1 {
	margin-top: 28px;
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 52px;
	line-height: 60px;
}

.contactTag {
	color: #007dcc;
	background-color: #007dcc1a;
	display: inline;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 31px;
	padding-right: 31px;
	border-radius: 32px;
}

.contactSection {
	display: flex;
	justify-content: space-between;
	padding-bottom: 173px;
}

.contactSectionLeft {
	width: 30%;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.contactSectionRight {
	border: 1px solid #1a1a1a;
	width: 52%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px 16px;
}

.contactSectionDetails {
	text-align: left;
}

.contactSection h2 {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
}

.contactSection h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}

.contactSection p {
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	font-family: "Inter", sans-serif;
	text-decoration: underline;
}

.contactSectionVector {
	background-color: #007dcc;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.bx-link-external {
	background: linear-gradient(90deg, #44b5ff, #a323ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.contactTopForm {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.contactSectionRight input {
	font-family: "Poppins", serif;
	padding: 0 10px;
}

.contactSectionRight input::placeholder,
textarea::placeholder {
	font-style: italic;
}

.contactTopForm input {
	width: 96.5%;
	height: 48px;
	border: none;
}

.contactMiddleForm {
	display: flex;
	justify-content: space-between;
}

.contactMiddleForm div {
	display: flex;
	flex-direction: column;
	text-align: left;
	flex-grow: 0.4;
}

.contactMiddleForm input {
	width: 92%;
	height: 48px;
	border: none;
}

.contactBottomForm {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.contactBottomForm textarea {
	width: 96.5%;
	height: 146px;
	border: none;
	font-family: "Poppins", serif;
	padding: 10px 10px;
}

.contactSectionRight label {
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
}

.contactFormSubmit {
	text-align: right;
}

.contactFormSubmit button {
	color: white;
	background-color: #007dcc;
	height: 44px;
	width: 188px;
	border: none;
	cursor: pointer;
}

/* ROCKWOOD PROPERTIES 2 CSS */

.rockPropsMain {
	font-family: "Poppins", serif;
	background-color: #f3f3f5;
}

.rockPropsNav {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-top: 30px;
	padding: 15px 12px;
	border-radius: 100px;
	color: white;
	font-family: "Inter", sans-serif;
	background-color: #c3a99a;
}

.rockPropsNav img {
	width: 7%;
}

.rockPropsNavButton {
	display: flex;
}

.rockPropsNavButton button {
	height: 3rem;
	width: 197px;
	border-radius: 44px;
	border: 2px solid #ffffff;
	color: #ffffff;
	background: none;
	cursor: pointer;
}

.rockPropsNavButton i {
	color: #ffffff;
	background-color: #c3a99a;
	border-radius: 50%;
	margin-left: -17px;
	z-index: 90;
	cursor: pointer;
}

.rockPropsNavNavlinks {
	display: flex;
	gap: 50px;
}

.rockPropsHero {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: url("Background pattern.png");
	background-size: contain;
}

.rockPropsHeroHero {
	display: flex;
	padding-left: 10%;
}

.rockPropsHeroLeft {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rockPropsHeroButton {
	display: flex;
}

.rockPropsHeroButton button {
	height: 3rem;
	width: 197px;
	border-radius: 44px;
	border: 2px solid #c3a99a;
	color: #c3a99a;
	cursor: pointer;
}

.rockPropsHeroButton i {
	color: #c3a99a;
	margin-left: -17px;
	z-index: 90;
	cursor: pointer;
}

.rockPropsHeroTag {
}

.rockPropsHeroLeft h1 {
	display: flex;
	flex-direction: column;
	font-size: 60px;
	line-height: 72px;
}

.rockPropsHeroRight {
	width: 60%;
	display: flex;
	justify-content: end;
	align-items: start;
}

.rockPropsHeroRight img {
	height: 90%;
	padding-top: 50px;
}

.rockPropsFeatured {
	background-color: #ffffff;
	padding: 5% 10%;
}

.rockPropsTags {
	color: #c3a99a;
	background-color: #c3a99a1a;
	display: inline;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 31px;
	padding-right: 31px;
	border-radius: 32px;
}

.rockPropsFeatured h2 {
	font-size: 44px;
	font-weight: 700;
	line-height: 57px;
}

.rockPropsRealEstate {
	background-color: #ffffff;
	padding: 2% 10%;
}

.rockPropsRealEstate p {
	font-size: 16px;
	line-height: 24px;
	width: 400px;
}

.rockPropsRealEstatePartners {
	display: flex;
	gap: 30px;
	overflow-x: scroll;
	align-items: flex-start;
}

.rockPropsRealEstatePartners::-webkit-scrollbar {
	display: none;
}

.rockPropsRealEstatePartners div {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	align-items: center;
	height: 140px;
	width: 270px;
	border: 2px solid #c3a99a;
	border-radius: 8px;
}

.rockPropsTestimonialSection {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 840px;
}

.rockPropsTestimonialSection h2 {
	font-family: "Inter", sans-serif;
	font-size: 48px;
	line-height: 58px;
}

.rockPropsTestimonials {
	height: 433px;
	width: 80%;
}

.rockPropsHomeVideos {
	background-color: #ffffff;
	padding: 5% 10%;
}

.rockPropsHomeVideos h2 {
	font-size: 44px;
	font-weight: 700;
	line-height: 57px;
}

.rockPropsHomeVideos p {
	font-size: 20px;
	line-height: 35px;
	width: 55%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1330px) {
	.careerSocials {
		width: 40%;
	}
	.rockPropsHeroRight img {
		height: 80%;
		padding-top: 50px;
	}
}

@media screen and (max-width: 1100px) {
	.careerSocials {
		width: 60%;
	}
	.rockPropsHeroRight img {
		height: 70%;
		padding-top: 50px;
	}
}

@media screen and (max-width: 1030px) {
	.careersMain {
		flex-direction: column;
	}
	.careersSidebar {
		width: 100%;
	}
	.careersSidebar div {
		display: flex;
		flex-direction: row;
		gap: 30px;
	}
	.careersContent {
		width: 100%;
	}
	.careerSocials {
		width: 40%;
	}
	.headerSocials {
		width: 40%;
	}
	.contactTopForm input {
		width: 95%;
	}
	.contactMiddleForm input {
		width: 90%;
	}
	.contactBottomForm textarea {
		width: 95%;
	}
	.rockPropsHeroHero {
		margin-top: 10%;
	}
	.rockPropsHeroRight {
		display: none;
	}
	.rockPropsHeroLeft {
		width: 90%;
		text-align: center;
	}
	.rockPropsHeroButton {
		justify-content: center;
	}
	.rockPropsTestimonialSection h2 {
		font-size: 35px;
	}
}

@media screen and (max-width: 760px) {
	.headerSocials {
		width: 50%;
	}
	.contactSection {
		flex-direction: column;
	}
	.contactSectionLeft {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		order: 2;
		margin-top: 50px;
	}
	.contactSectionRight {
		width: 92%;
		order: 1;
	}
	.headerSocials {
		margin-bottom: 50px;
	}
	.rockPropsFeatured h2 {
		font-size: 35px;
	}
	.rockPropsTestimonialSection h2 {
		font-size: 30px;
	}
	.rockPropsHomeVideos h2 {
		font-size: 35px;
	}
	.rockPropsHomeVideos p {
		font-size: 15px;
		width: 100%;
	}
}

@media screen and (max-width: 690px) {
	.careerSocials {
		width: 60%;
	}
	.contactTopForm input {
		width: 95%;
	}
	.contactMiddleForm input {
		width: 90%;
	}
	.contactBottomForm textarea {
		width: 95%;
	}
}

@media screen and (max-width: 590px) {
	.headerSocials {
		width: 60%;
	}
	.mediaMain h1 {
		font-size: 48px;
	}
}

@media screen and (max-width: 490px) {
	.headerSocials {
		width: 70%;
	}
}
